<!-- views/partials/header.ejs -->
<header>
  <nav>
    <ul>
      <li><a href="/">Početna</a></li>
      <li><a href="/live">Prijenos uživo</a></li>
      <li><a href="/contact">Kontakt</a></li>
      <li id="login"><a href="/login">Prijavi se</a></li>
    </ul>
  </nav>
</header>
