<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>
<body>
    <div class="topcontents">
        <a href="/views/index.html">
            <h1>Main page</h1>
        </a>
        <div class="btnnavigators">
            <button class="navbtn">Button1</button>
            <button class="navbtn">Button2</button>
            <button class="navbtn">Button3</button>
            <button class="navbtn">Button4</button>
            <button class="navbtn">Button5</button>
        </div>
        <div class="systemaccess">
            <button class="login">Register</button>
            <a href="/views/systemlogin.html">
                <button class="login">Login</button>
            </a>
        </div>
    </div>
    <p> Insert sadrzaj pocetne stranice</p>
</body>
</html>