.konfContainer{
  display: block;
  margin-bottom: 3rem;
}
.tekst{
  margin-left: 75px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 25px;
  align-self: center;
  padding: 1rem;
}
.conf-weather-cont{
  display: flex;
  padding: 1rem;
  justify-items: center;
}
.konferencija{
  box-shadow: black 5px 5px 2rem;
  border-radius: 60px;
  width: 60%;
  margin-left: 5%;
  height: 8rem;
  display: flex;
  background-color: rgb(46, 46, 54);
}
.konfImg{
  width: 8rem;
  background-color: rgb(65, 49, 87);
}

.texts{
  display: flex;
  flex-direction: column;
  font-family: Tahoma;
}
.naziv{
  color: white;
  font-size: 20px;
  text-decoration: none;
  width: max-content;
  margin-top: 10px;
  margin-left: 10px;
  font-style: italic;
  padding: 10px;
}
.opis{
  padding: 15px;
  margin-left: 10px;
  color: rgb(167, 167, 167);
}
.text{
  color: white;
}
.konferencija:hover{
  background-color: rgb(66, 66, 77);
}
.konferencija:hover .pristupibutton{
    background-color: rgb(66, 66, 77);
}

.datum {
  margin-top: 5px;
  margin-left: 20px;
  color: rgb(100, 100, 116);
}
hr{
  height: 2px;
  background-color: rgb(53, 53, 65);  
  border: none;
  width: 80%;
}

.mjesto{
  color: rgb(100, 80, 114);
  margin-left: 20px;
  margin-top: 10px;
}
.pristupi{
  height: 3.5rem;
  width: min-content;
  margin-left: auto;
  display: flex;
  align-self: center;
}
.mjestodatum{
  margin-top: 10px;
}
.dash{
  margin-left: 21px;
  color: rgb(118, 104, 126);
}
.pristupibutton {
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: white;
background-color:rgb(46, 46, 54);
border: 2px solid rgb(65, 49, 87) ;
border-radius: 30px;
position: relative;
cursor: pointer;
width: fit-content;
overflow: hidden;
font-size: 1rem;
margin-right: 2rem;
}

.pristupibutton span:not(:nth-child(6)) {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
height: 10px;
width: 10px;
background-color: rgb(65, 49, 87);
border-radius: 50%;
transition: .6s ease;
}

.pristupibutton span:nth-child(6) {
position: relative;
}

.pristupibutton span:nth-child(1) {
transform: translate(-3.3em, -4em);
}

.pristupibutton span:nth-child(2) {
transform: translate(-6em, 1.3em);
}

.pristupibutton span:nth-child(3) {
transform: translate(-.2em, 1.8em);
}

.pristupibuttonspan:nth-child(4) {
transform: translate(3.5em, 1.4em);
}

.pristupibutton span:nth-child(5) {
transform: translate(3.5em, -3.8em);
}

.pristupibutton:hover span:not(:nth-child(6)) {
transform: translate(-50%, -50%) scale(17);
transition: 1.5s ease;
}

.addkonf {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color:rgb(29, 29, 34);
  width: fit-content;
  border: 2px solid rgb(65, 49, 87) ;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  font-size: 1rem;
  height: 3.5rem;
}

.addkonf span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 10px;
  width: 10px;
  background-color: rgb(65, 49, 87);
  border-radius: 50%;
  transition: .6s ease;
}

.addkonf span:nth-child(6) {
  position: relative;
}

.addkonf span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.addkonf span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.addkonf span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

.addkonf:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.addkonf span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.addkonf:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(25);
  transition: 1.5s ease;
}

.addkonfdiv{
  margin-left: 5%;
  margin-top: 2rem;
}

.konferencija-button{
  display: flex;
  align-items: center;
  padding: 0 1rem;
  }


  .addposter {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color:rgb(29, 29, 34);
    border: 2px solid rgb(65, 49, 87) ;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    font-size: 16px;
    margin-top: 2.3rem;
    margin-left: 1rem;
    width: fit-content;
    height: 3.5rem;
  }
  
  .addposter span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 10px;
    background-color: rgb(65, 49, 87);
    border-radius: 50%;
    transition: .6s ease;
  }
  
  .addposter span:nth-child(6) {
    position: relative;
  }
  
  .addposter span:nth-child(1) {
    transform: translate(-3.3em, -4em);
  }
  
  .addposter span:nth-child(2) {
    transform: translate(-6em, 1.3em);
  }
  
  .addposter span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
  }
  
  .addposter:nth-child(4) {
    transform: translate(3.5em, 1.4em);
  }
  
  .addposter span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
  }
  
  .addposter:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(25);
    transition: 1.5s ease;
  }
  .konferencija-button{
    display: flex;
    margin-bottom: 40px;
  }
