.konfContainer{
    display: block;
}
.tekst{
    padding: 1rem;
    margin-left: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 25px;
}
.konferencija{
    box-shadow: black 5px 5px 2rem;
    border-radius: 15px;
    width: 60%;
    margin-left: 5%;
    height: 125px;
    display: flex;
    background-color: rgb(46, 46, 54);
    margin-bottom: 40px;
}
.konfImg{
    width: 125px;
    background-color: rgb(65, 49, 87);
}

.texts{
    display: flex;
    flex-direction: column;
    font-family: Tahoma;
}
.naziv{
    color: white;
    font-size: 20px;
    text-decoration: none;
    width: max-content;
    margin-top: 10px;
    margin-left: 10px;
}
.opis{
    padding: 15px;
    margin-left: 10px;
    color: rgb(167, 167, 167);
}

.konferencija:hover{
    background-color: rgb(66, 66, 77);
}

.datum {
    margin-left: 20px;
    color: rgb(100, 100, 116);
}
hr{
    height: 2px;
    background-color: rgb(53, 53, 65);  
    border: none;
    width: 80%;
}

.mjesto{
    color: rgb(100, 80, 114);
    margin-left: 20px;
    margin-top: 5px;
}
.pristupi{
    height: 60px;
    width: 120px;
    margin-left: auto;
    align-self: center;
    margin-right: 40px;
}
.pristupibutton{
    width: 120px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background-color: rgb(47, 35, 63);
    color: white;
    font-family:system-ui, -apple-system;
    font-weight: 400;
}
.pristupibutton:hover{
    cursor: pointer;
    box-shadow: rgb(65, 49, 87) 0 0 20px;
}