
.navBar{
  height: 4rem;
  display: flex;
  font-family: Tahoma;
}

.logo{
  color: white;
  text-decoration: none;
  align-self: center;
  margin-left: 17%;
  font-size: 1.8rem;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  background: linear-gradient(to left, white 60%, rgb(65, 49, 87) 40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.navBtns{
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 15%;
}

.navButton{
  background-color: transparent;
  border: none;
  color: white;
  height: 55px;
  width: 130px;
}

.mid{
  font-family: Geneva, Verdana, sans-serif;
  height: 40rem;
  background-image: url(/slike/coffee-break-1177540_1280.jpg);
  background-size: cover;
  display: flex;
}

.midContents{
  color: white;
  margin: auto;
  text-align: center;
  width: fit-content;
}

.midBtns{
    margin: 20px;
}

.midBtn1{
  font-family: Geneva, Verdana, sans-serif;
  border: 2px solid white;
  padding: 10px;
  margin-right: 10px;
  width: 125px;
  color: white;
  background-color: transparent;
  transition: background-color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.midBtn2{
  font-family: Geneva, Verdana, sans-serif;
  border: 2px solid rgb(65, 49, 87);
  padding: 10px;
  margin-left: 10px;
  width: 125px;
  background-color: rgb(65, 49, 87);
  color: white;
  transition: background-color 0.2s ease-in;
}

.midBtn1:hover{
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  color: rgb(65, 49, 87);
}

.midBtn2:hover{
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
}

.navButton:hover{
  cursor: pointer;
  font-weight: bold;
}

body{
  margin: 0;
}
.ocijenite{
  color: white;
}

@media (max-width: 480px) {
  .navBar{
    height: 4rem;
    display: flex;
    font-family: Tahoma;
    opacity: 1;
  }
  .logo{
    margin-left: 0;
    font-size: 1rem;
  }
  .navButton{
    height: 3rem;
    width: 5rem;
    font-size: 70%;
  }
}