.container {
  max-width: 800px;
  margin: auto;
  margin-top: 2rem;
  padding: 20px;

  display: flex;
  flex-direction: column;
  background-color: rgb(46, 46, 54);
  box-shadow: none;
  border-radius: 30px;
}

h2 {
  color: white;
  text-align: center;
}
p{
  margin-left: 1rem;
}
.conference-details {
  margin-bottom: 20px;
}

.radovi-list {
  list-style-type: none;
  padding: 0;
}

.radovi-list li {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
}

.radovi-list li strong {
  color: #333;
}

.radovi-list li span {
  color: #777;
}
