body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 10 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h1 {
  color: #00a000;
}

p {
  color: #ff0000;
}
