<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Live Prijenos</title>
  <link rel="stylesheet" type="text/css" href="/styles/styleLive.css">
	<link rel="stylesheet" type="text/css" href="/styles/styleHeader.css">
</head>
<body>
	<header>
		<h1>Prijenos uživo</h1>
		<nav>
			<ul>
				<li><a href="/">Početna</a></li>
				<li><a href="/live">Prijenos uživo</a></li>
				<li><a href="/contact">Kontakt</a></li>
				<li id="login"><a href="/login">Prijavi se</a></li>
			</ul>
		</nav>
	</header>

	<div class="live-stream">
		<h2>Status prijenosa:</h2>
		<div id="video-container">
			<!--zamijeniti s zeljenim URLom videa -->
			<iframe width="560" height="315" src="https://www.youtube.com/watch?v=jfKfPfyJRdk&ab_channel=LofiGirl" frameborder="0" allowfullscreen></iframe>
		</div>
		<p id="status-message"></p>
	</div>

	<script src="scripts/live.js" defer></script>
</body>
</html>
